.login-page {
    border: 1px solid #000000;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.login-title {
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    align-self: center;
}

.name-of-input {
    margin: 10px 5px;
    font-style: italic;
}

.input {}

.login-button {
    margin-top: 15px;
    display: flex;
    align-self: center;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: #7faffa;
}

.login-button:hover {
    cursor: pointer;
    background-color: #3b87ff;
}