.message-edit {
    background-color: #f8f9fc;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.title {
    margin: 0 auto;
}

.edit-input {
    margin: 15px 0;
}

.buttons {
    display: flex;
    align-self: flex-end;
}

.button {
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.button:hover {
    cursor: pointer;
}

.save {
    margin-right: 15px;
    background-color: #00b33f;
    opacity: 0.7;
}

.save:hover {
    background-color: #00822e;
    opacity: 1;
}

.close {
    background-color: #cc0000;
    opacity: 0.7;
}

.close:hover {
    background-color: #990000;
    opacity: 1;
}