.user {
    margin: 10px;
    padding: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #000000;
}

.user-info {
    margin: 5px;
    padding: 2px;
    background-color: #b3d0ff;
    display: flex;
}

.username {
    margin: 0 5px;
}

.email {
    margin: 0 5px;
    font-style: italic;
}

.user-edit-button {
    margin: 5px;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: #ffc280;
}

.user-edit-button:hover {
    cursor: pointer;
    background-color: #ff9726;
}

.user-delete-button {
    margin: 5px;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: #ff6161;
}

.user-delete-button:hover {
    cursor: pointer;
    background-color: #ff3333;
}