.users-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-user-button {
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: #00b33f;
}

.add-user-button:hover {
    cursor: pointer;
    background-color: #00822e;
}