.their-message {
    margin: 5px;
    background-color: #cccccc;
    border-radius: 5px;
    width: 40%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.avatar {
    margin-right: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}