.user-edit {
    background-color: #f8f9fc;
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.title {
    margin: 0 auto;
}

.title-of-input {
    font-style: italic;
    margin: 5px 0;
}

.buttons {
    margin-top: 10px;
}