body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    z-index: 10;
    position: sticky;
    top: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #f8f9fc;
}

.logo {
    margin: 3px;
}

.main {
    margin: 1rem auto;
    width: 80vw;
}

.footer {
    margin-top: auto;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.nav-link {
    text-decoration: none;
    margin: 5px;
}